body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("./images/nino-tomando-foto.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cuadrado {
  width:25%;
  max-width:100px;
  height:0;
  padding-top:25%;
  position:relative;
  background:red;
}